
<div class="row">
    <div class="col-md-2 col-3 test3"  *ngFor="let people of peoples$ " >
        <div class="card effet-curser-image-1" routerLink = "/component/describe-people/{{ people.id }}">
            <div class="card-acteur">
                <img  class="test1 img-responsive" src="https://image.tmdb.org/t/p/w500/{{ people.profile_path }}" alt="Card image cap">
                <div class="overlay" style="font-size:8px;">{{people.name}}</div>
  			   </div>
      </div>
  </div>
</div>   