
    <div class="col-sm-3 col-8" >
        <input type="text" class="form-search" placeholder="Search By Name" 
                style="width:90%" [(ngModel)]="searchTerm" /> 
     </div>
<!-- Row -->
<div class="row">
    
        <div class="col-sm-2 col-3 test3"  *ngFor="let bestmovie of BestMovie$ | filmFilter:searchTerm" >
            <div  class="card effet-curser-image-1"  routerLink = "/component/describe/{{ bestmovie.id }}">
                <img class="test1 img-responsive" src="https://image.tmdb.org/t/p/w500/{{ bestmovie.poster_path }}" alt="Card image cap">
               
            </div>
        </div>
   
</div>
<!-- End Row -->

