<div class="row">
	<div class="col-12">
		<div class="card" *ngFor="let actor of people$ ">
			<div class="card-body">
				<h3 class="card-title">{{actor.name}}</h3>
				<h6 class="card-subtitle"> {{actor.known_for_department}}</h6>

				<div class="row">
					<div class="col-sm-4">
						<img class="test1 img-responsive" src="https://image.tmdb.org/t/p/w500/{{ actor.profile_path }}"
							alt="Card image cap">
					</div>
					<div class="col-sm-8">
						<p>{{detailOfPeople$.biography}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	  <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">                               
          <ngb-panel>
            <ng-template ngbPanelTitle>
                 <span>&#9733; <b>List of Movie</b> Click Here &#9733;</span>
	               </ng-template>
	                 <ng-template ngbPanelContent>
                       <div class="row">
		                  <div class="col-sm-2 col-4 test3"   *ngFor="let movie of movieOfPeople$" >  
			              <div  class="card"  routerLink = "/component/describe/{{ movie.id }}">
				          <img style="width:350px; height:400px" src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" alt="Card image cap">
					  </div>
				   </div>
			      </div> 
		        </ng-template>
	         </ngb-panel>
	</ngb-accordion>
</div>