
  <router-outlet></router-outlet>
<!-- Row -->
<div class="row">
    <div class="col-12">
        <h2 class="m-b-0">Recents</h2>
        <p class="text-muted m-t-0 font-12">Discover the best movies of the moment</p>
    </div>
    <div class="row" style="overflow-x: hidden;overflow-y: scroll; height: 500px; white-space:normal">
        <div class="col-sm-4" *ngFor="let trending of trendings$  | filmFilter:searchTerm" >
            <div class="card" routerLink = "/component/describe/{{ trending.id }}">
                <img style="height: 600px; width:auto;" class="card-img-top img-responsive" src="https://image.tmdb.org/t/p/w500/{{ trending.poster_path }}" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">{{ trending.title }}</h4>
                    <p class="card-text">{{ trending.overview }}</p>
                    <p class="card-text"><small class="text-muted">Release Date {{ trending.release_date }}</small></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row -->

