<div class="row">
    <div class="col-md-10" style=" margin: 0 auto; width: 100px; " >
        <div class="card">
            <h3 class="card-title">Id movie {{ movieId }}</h3>
            <div class="card-body" >
                <iframe width="1080" height="615" [src]="url" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <h6 class="card-subtitle">{{ keyMovie }}</h6>
                <ngb-tabset  (tabChange)="beforeChange($event)">
                  <ngb-tab id="tab-preventchange1" title="Title">
                    <ng-template ngbTabContent>
                    </ng-template>
                  </ngb-tab>
                  <ngb-tab title="Overview" >
                    <ng-template ngbTabContent>
                      <p class="p-t-20">{{ describeMovie$.overview }}</p>
                    </ng-template>
                  </ngb-tab>
                </ngb-tabset>
  			 </div>
        </div>
    </div>
</div>
