<div class="row">
    <div class="col-12">
        <h2 class="d-inline">Action</h2>
        <p class="text-muted m-t-0 font-12">Use card groups to render cards as a single, attached element with equal width and height columns.</p>
        <!-- Row -->
        <div class="row">
            <!-- column -->
            <div class="col-lg-2 col-md-5" *ngFor="let tabAction of tabAction$" >
                <!-- Card -->
                <div class="card" >
                    <img class="card-img-top img-responsive" src="https://image.tmdb.org/t/p/w500/{{ tabAction.poster_path }}" alt="Card image cap">
                </div>
                <!-- Card -->
            </div>
            </div>      
    </div></div>
<!-- End Row -->


<!-- Row -->
<div class="row">
    <div class="col-12 m-t-30" >
        <h2 class="m-b-0">Thriller</h2>
        <p class="text-muted m-t-0 font-12">Use card groups to render cards as a single, attached element with equal width and height columns.</p>
        <div class="card-deck">
            <div class="card" *ngFor="let tabThriller of tabThriller$">
                <img class="card-img-top img-responsive" src="https://image.tmdb.org/t/p/w500/{{ tabThriller.poster_path }}"alt="Card image cap">
            </div>
        
        </div>
    </div>
</div>
<!-- End Row -->

<div class="row">
        <div class="col-12">
            <h2 class="d-inline">Adventure</h2>
            <p class="text-muted m-t-0 font-12">Use card groups to render cards as a single, attached element with equal width and height columns.</p>
            <!-- Row -->
            <div class="row">
                <!-- column -->
                <div class="col-lg-2 col-md-5" *ngFor="let tabAdventure of tabAdventure$">
                    <!-- Card -->
                    <div class="card" >
                        <img class="card-img-top img-responsive" src="https://image.tmdb.org/t/p/w500/{{ tabAdventure.poster_path }}" alt="Card image cap">
                    </div>
                    <!-- Card -->
                </div>
                </div>      
        </div></div>
    <!-- End Row -->

    <!-- Row -->
<div class="row">
        <div class="col-12 m-t-30" >
            <h2 class="m-b-0">Horror</h2>
            <p class="text-muted m-t-0 font-12">Use card groups to render cards as a single, attached element with equal width and height columns.</p>
            <div class="card-deck">
                <div class="card" *ngFor="let tabHorror of tabHorror$">
                    <img class="card-img-top img-responsive" src="https://image.tmdb.org/t/p/w500/{{ tabHorror.poster_path }}"alt="Card image cap">
                </div>
            
            </div>
        </div>
    </div>
    <!-- End Row -->