<div class="row form-group"> 
    <div class="col-sm-9 col-4"></div>
    <div class="col-sm-3 col-8" >
        <input type="text" class="form-search" placeholder="Search By Name" 
                style="width:90%" [(ngModel)]="searchTerm" /> 
     </div>
</div> 
<div class="row">
    <div class="col-12">
        <h5 class="d-inline">Action</h5>
        <!-- Row -->
        <div class="row">
            <!-- column -->
            <div class="col-sm-2 col-3  style-card" *ngFor="let tabAction of tabAction$ | filmFilter2:searchTerm" >
                <!-- Card -->
                <div class="card effet-curser-image-1" routerLink = "/component/describe/{{ tabAction.id }}" >
                    <img class=" card-img-top img-responsive" src="https://image.tmdb.org/t/p/w500/{{ tabAction.poster_path }}" alt="Card image cap">
                </div>
                <!-- Card -->
            </div>
            </div>      
    </div>
</div>
<!-- End Row -->
<div class="row">
    <div class="col-12">
        <h5 class="d-inline">Thriller</h5>
        <!-- Row -->
        <div class="row">
            <!-- column -->
            <div class="col-sm-2 col-3 style-card " *ngFor="let tabThriller of tabThriller$ | filmFilter4:searchTerm" >
                <!-- Card -->
                <div class="card effet-curser-image-1" >
                    <img class=" card-img-top img-responsive" src="https://image.tmdb.org/t/p/w500/{{ tabThriller.poster_path }}"alt="Card image cap">
                </div>
                <!-- Card -->
            </div>
            </div>      
    </div>
</div>
<!-- End Row -->

<div class="row">
    <div class="col-12">
        <h5 class="d-inline">Adventure</h5>
        <!-- Row -->
        <div class="row">
            <!-- column -->
            <div class="col-sm-2 col-3  style-card " *ngFor="let tabAdventure of tabAdventure$ | filmFilter3:searchTerm" >
                <!-- Card -->
                <div class="card effet-curser-image-1" >
                    <img class="card-img-top img-responsive" src="https://image.tmdb.org/t/p/w500/{{ tabAdventure.poster_path }}" alt="Card image cap">
                </div>
                <!-- Card -->
            </div>
            </div>      
    </div>
</div>
<!-- End Row -->

<div class="row">
    <div class="col-12">
        <h5 class="d-inline">Horror</h5>
        <!-- Row -->
        <div class="row">
            <!-- column -->
            <div class="col-sm-2 col-3 style-card " *ngFor="let tabHorror of tabHorror$ | filmFilter5:searchTerm" >
                <!-- Card -->
                <div class="card effet-curser-image-1" >
                    <img class="card-img-top img-responsive" src="https://image.tmdb.org/t/p/w500/{{ tabHorror.poster_path }}"alt="Card image cap">
                </div>
                <!-- Card -->
            </div>
            </div>      
    </div>
</div>
<!-- End Row -->
