<div class="row">
    <div class="col-12">
        <h5 class="d-inline">Action</h5>
        <!-- Row -->
        <div class="row">
            <!-- column -->
            <div class="col-sm-2 col-3  test3" *ngFor="let tabAction of tabAction$" >
                <!-- Card -->
                <div class="card effet-curser-image-1" >
                    <img class="test1 card-img-top img-responsive" src="https://image.tmdb.org/t/p/w500/{{ tabAction.poster_path }}" alt="Card image cap">
                </div>
                <!-- Card -->
            </div>
            </div>      
    </div>
</div>
<!-- End Row -->
<div class="row">
    <div class="col-12">
        <h5 class="d-inline">Thriller</h5>
        <!-- Row -->
        <div class="row">
            <!-- column -->
            <div class="col-sm-2 col-3 test3" *ngFor="let tabThriller of tabThriller$" >
                <!-- Card -->
                <div class="card effet-curser-image-1" >
                    <img class="test1 card-img-top img-responsive" src="https://image.tmdb.org/t/p/w500/{{ tabThriller.poster_path }}"alt="Card image cap">
                </div>
                <!-- Card -->
            </div>
            </div>      
    </div>
</div>
<!-- End Row -->

<div class="row">
    <div class="col-12">
        <h5 class="d-inline">Adventure</h5>
        <!-- Row -->
        <div class="row">
            <!-- column -->
            <div class="col-sm-2 col-3  test3" *ngFor="let tabAdventure of tabAdventure$" >
                <!-- Card -->
                <div class="card effet-curser-image-1" >
                    <img class="test1 card-img-top img-responsive" src="https://image.tmdb.org/t/p/w500/{{ tabAdventure.poster_path }}" alt="Card image cap">
                </div>
                <!-- Card -->
            </div>
            </div>      
    </div>
</div>
<!-- End Row -->

<div class="row">
    <div class="col-12">
        <h5 class="d-inline">Horror</h5>
        <!-- Row -->
        <div class="row">
            <!-- column -->
            <div class="col-sm-2 col-3 test3" *ngFor="let tabHorror of tabHorror$" >
                <!-- Card -->
                <div class="card effet-curser-image-1" >
                    <img class="test1 card-img-top img-responsive" src="https://image.tmdb.org/t/p/w500/{{ tabHorror.poster_path }}"alt="Card image cap">
                </div>
                <!-- Card -->
            </div>
            </div>      
    </div>
</div>
<!-- End Row -->
